@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>עמוד הרשמות של ילד</h1>
@using (Html.BeginForm("SaveChild", "Child", FormMethod.Post))
{
    <div>
        <label>בחר כינוי</label>
        <input name="ChildName" />
    </div>
    <div>
        <label>בחר צבע אהוב</label>
        <input name="ChildColor" />registration
    </div>

    <button type="submit">שמור</button>
}
