@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    function SaveChild() {
        var name = $("#ChildName").val();
        var color = $("#ChildColor").val();

        $.post("@Url.Action("SaveChild", "Child")" + "?Name=" + name + "&Color=" + color, function (data) {
            if (data != -1) {
                $("#main").hide();
                $("#passwordDiv").show();
                $("#password").text(data);
            }
            else {
                $("#tryagain").show();
            }

    });
    }
    function goToLoginPage() {
        window.location.href = "@(Url.Action("LoginPage", "Child"))";

    }
</script>

<h1>עמוד הרשמות של ילד</h1>
@*@using (Html.BeginForm("SaveChild", "Child", FormMethod.Post))*@
@*{*@
<div id="main">
    <div>
        <label>בחר כינוי</label>
        <input id="ChildName" name="ChildName" />
    </div>
    <div>
        <label>בחר צבע אהוב</label>
        <input id="ChildColor" name="ChildColor" />
    </div>
    <input type="button" value="שמור" onclick="SaveChild()" />
</div>
    <div id="tryagain" style="display:none">
    <p>try again</p>
    </div>

    
@*}*@
<div id="passwordDiv" style="display:none">
    <p id="password"></p><p>זוהי סיסמתך</p>
    <input type="button" value="סיום הרשמה"onclick="goToLoginPage()" />
</div>
