@model LearnHebrew.Models.GameInformationModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<style>

    body {
        background-image: url('../../Pictures/Game_12/chef_kitchen.PNG');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-attachment: fixed;
    }
    section {
        width: 48%;
        height: 50%;
        /*background-color: white;*/
        position: relative;
        margin: auto;
    }
    footer {
        /*font-size: 0.6vw;*/
        font-weight: bold;
        position: absolute;
        bottom: 0;
        width: 100%
    }
    #user {
        width: 7%;
        height: 9%;
        top: 88%;
        left: 45%;
        position: absolute;
    }

    .enemy {
        width: 7%;
        height: 8%;
        position: absolute;
    }

    #endGameScreen {
        height: 50%;
    }

    .hidescreen {
        display: none;
    }
    .buttonClass {
        border-radius: 12px;
        color: gold;
        font-size: large;
        background-color: hotpink;
        outline: none;
    }

    #scoreId {
        top: 0%;
        left: 93%;
        position: absolute;
        font-size: x-large;
        color: darkred;
    }

    #heartDiv {
        top: 0%;
        left: 3%;
        position: absolute;
    }

    .heart {
        opacity: 0.7;
        width: 25px;
    }

    #gameOverh {
        color: forestgreen;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .gameOverBtn {
        margin-top: 10px;
        outline: none;
    }

    #instructionId {
        color: forestgreen;
        cursor: pointer;
        font-size: 30px;
    }
    #silenceDiv {
        text-align: center;
    }

    #silenceBtn {
        margin: 15px;
        border-radius: 30px;
        font-size: 20px;
        cursor: pointer;
        background-color: transparent;
        outline: none;
    }

    .arrow {
        height: 30px;
        position: absolute;
    }

    #arrowDiv {
        position: relative;
    }
    .myButton {
        box-shadow: inset 0px 1px 0px 0px blueviolet;
        background: linear-gradient(to bottom, #f0c911 5%, blueviolet 100%);
        background-color: blueviolet;
        border-radius: 6px;
        border: 1px solid #e65f44;
        cursor: pointer;
        color: forestgreen;
        font-family: Arial;
        font-size: 15px;
        font-weight: bold;
        padding: 1px 6px;
        text-decoration: none;
        text-shadow: 0px 1px 0px #ded17c;
        margin-top: 10px;
        margin-bottom: 10px;
        outline: none;
    }

        .myButton:hover {
            background: linear-gradient(to bottom, #f2ab1e 5%, #f0c911 100%);
            background-color: #f2ab1e;
        }
    #title {
        font-family: 'Miri';
    }
    #secondTitle {
        font-family: 'Gan';
    }
</style>
<script>
    let move = 25;// setting moving distance per move for user
    let $User;// placeholder  for the user in every new game
    let letterTime = 5000;// the time it takes a letter to remove itself
    let letterSpawnTime = 1700;// time of spawning letters
    let gameoverIndicator;// interval animation of spawning enemies
    let validLetters = [];// array of valid letter for the game, based on the user
    let invalidLetters = [];// array of invalid letter for the game, based on the user
    let savedBottom;// saved height of user
    let lives = 3;// the amount of times a user can play
    let arrowInterval;// the interval variable of the arrow animation

    $(document).ready(function () {
        LoadGameInstruction();
        FillLetters();
        windowResize();
        SetArrows();
        arrowInterval = setInterval(MoveArrows, 1000);
    })
    // This function pre loads the game instructions
    function LoadGameInstruction() {
        let obj = document.createElement("audio");
        obj.src = "/Audio/Game_12/Game_12_instructions.mp4";
        obj.volume = 0.3;
        obj.autoPlay = false;
        obj.preLoad = true;
        obj.controls = true;

        $("#instructionId").click(function () {
            obj.play();
        });
    }
    // This function resizes objects on the screen  
    function windowResize() {
        $(window).resize(function () {
            $("#leftArrow").stop();
            $("#rightArrow").stop();
            $("#leftArrow").addClass("hidescreen");
            $("#rightArrow").addClass("hidescreen");
            setTimeout(
                function () {
                    $("#leftArrow").removeClass("hidescreen");
                    $("#rightArrow").removeClass("hidescreen");
                }, 2100);
            SetArrows();
        })
    }
    //This function gets the path of the selected letter images
    function FillLetters() {
        $.ajax({
            url: '/Child/GetGameLetters' + '/' + '?Letter=@Model.Letter',
            type: 'GET',
            dataType: 'json',
            error: function (e, ts, et) {
                alert("error at GetGameLetters" + ts);
            },
            success: function (data) {
                for (let i = 0; i < 5; i++)
                    validLetters.push("/Pictures/Alphabet/" + data.ValidLetterName[i]);
                for (let j = 0; j < data.InValidLetterName.length; j++)
                    invalidLetters.push("/Pictures/Alphabet/" + data.InValidLetterName[j]);
            }
        });
    }
    // This funcion sets up the game
    function StartGame() {
        $User = $("#user");//linking placeholder to user in current game
        RemoveArrows();
        savedBottom = parseInt($User.css("top"));
        $("body").keydown(userKey_Options);
        gameoverIndicator = setInterval(createEnemy, letterSpawnTime);
        FillHearts();
        LoadSoundAndPicture();
        $("#buttonId").addClass("hidescreen");
    }
    // This function pre loads the sounds and pictures that are used in the game
    function LoadSoundAndPicture() {
        new Audio("/Audio/Game_12/eat.mp3").load();
        for (let i = 0; i < validLetters.length; i++)
            fetch(validLetters[i]);
        for (let i = 0; i < invalidLetters.length; i++)
            fetch(invalidLetters[i]);
    }
    //This function enables the user movement
    function userKey_Options() {
        switch (window.event.keyCode) {
            case (37):// left keyboard was pressed = moving the user one move to the left
                MoveLeft();
                break;
            case (39):// right keyboard was pressed = moving the user one move to the right
                MoveRight();
                break;
            case (38)://up keyboard was pressed = moving the user one move up
                MoveUp();
                break;
            case (40)://down keyboard was pressed = moving the user one move down
                MoveDown();
                break;
        }
    }
    // This funcion moves the user up
    function MoveUp() {
        MoveUserAxisY(-1 * move);
    }
    // This funcion moves the user down
    function MoveDown() {
        MoveUserAxisY(move);
    }
    // This funcion moves the user left
    function MoveLeft() {
        MoveUserAxisX(-1 * move);
    }
    // This funcion moves the user right
    function MoveRight() {
        MoveUserAxisX(move);
    }
    // This funcion moves the user along the axis y if possible
    function MoveUserAxisY(axisY) {
        let currentPosition = parseInt($User.css("top"));//getting current position of user
        let newPosition = currentPosition + axisY;//calculating new position of user

        if (newPosition >= 0 && newPosition <= (parseInt($("#sectionId").css("height")) - parseInt($User.css("height"))))
            $User.css("top", newPosition + "px");//moving user to new position

    }
    // This funcion moves the user along the axis x if possible
    function MoveUserAxisX(axisX) {
        let currentPosition = parseInt($User.css("left"));//getting current position of user
        let newPosition = currentPosition + axisX;//calculating new position of user

        if (newPosition >= 0 && newPosition <= (parseInt($("#sectionId").css("width")) - parseInt($User.css("width"))))
            $User.css("left", newPosition + "px");//moving user to new position

    }
    // This funcion sets up the game hearts (lives)
    function FillHearts() {
        $heartDiv = $("#heartDiv");
        for (let i = 0; i < lives; i++) {
            let $image = $("<img>");
            $image.attr("src", "/Pictures/Game_12/heart.png");
            $image.addClass("heart");
            $heartDiv.append($image);
        }
    }
    // This function removes the object it was used upon
    function deleteObject() {
        $(this).remove();
    }
    // This funcion creates  a letter image
    function createEnemy() {

        let $enemy = $("<img>");
        let enemyType = Math.floor((Math.random() * 10) + 1);
        let randomNumber;
        if (enemyType > 3) {
            randomNumber = Math.floor((Math.random() * validLetters.length) + 0);
            $enemy.attr("src", validLetters[randomNumber]);

        }
        else {
            randomNumber = Math.floor((Math.random() * invalidLetters.length) + 0);
            $enemy.attr("src", invalidLetters[randomNumber]);
        }
        $enemy.addClass("enemy");
        let axisX = randomEnemyAxisX();
        let axisY = randomEnemyAxisY();
        $enemy.css("top", axisY + "px");
        $enemy.css("left", axisX + "px");

        $("section").append($enemy);

        $enemy.animate({
            opacity:0.4

        }, {
                duration: letterTime,
                easing: "linear",
                progress: collisionCheck,
                complete: deleteObject

            });

    }
    // This function returns a random axis x location on the section
    function randomEnemyAxisX() {
        let limitLeft = (parseInt($User.css("width")) / 4);//floot
        let limitRight = parseInt($("section").css("width")) - (parseInt($User.css("width")));
        return Math.floor((Math.random() * limitRight) + limitLeft);
    }
    // This function returns a random axis y location on the section
    function randomEnemyAxisY() {
        let limitUp = ((parseInt($("section").css("top")) + (parseInt($User.css("height"))/4)));//floot
        let limitDown = savedBottom - (parseInt($User.css("height")));
        return Math.floor((Math.random() * limitDown) + limitUp);
    }
    // This funcion checks for a collision between the user to any letter
    function collisionCheck() {
        let $enemy = $(this);//getting the current enemy
        if (checkIntersection($User, $enemy)) {
            enemyDestroyed($enemy);
            MouthAnimation();

            $enemy.stop();
            $enemy.remove();
        }
    }
    // This function animates the user image
    function MouthAnimation() {
        $User.attr("src", "/Pictures/Game_12/mouth_closed.png");
        setTimeout(function () { $User.attr("src", "/Pictures/Game_12/mouth.png"); }, 1000);
    }
    // This funcion checks for a collision between two objects
    function checkIntersection($x, $y) {
        if ($x == undefined || $y == undefined) return false;
        xLeft = parseInt($x.css("left"));
        xTop = parseInt($x.css("top"));
        xRight = xLeft + parseInt($x.css("width"));
        xBottom = xTop + parseInt($x.css("height"));

        yLeft = parseInt($y.css("left"));
        yTop = parseInt($y.css("top"));
        yRight = yLeft + parseInt($y.css("width"));
        yBottom = yTop + parseInt($y.css("height"));

        return ((xLeft >= yLeft && xLeft <= yRight || yLeft >= xLeft && yLeft <= xRight) && (xTop <= yBottom && xTop >= yTop || yTop <= xBottom && yTop >= xTop));
    }
    // This funcion decides wahat to do after a letter has collided  with the user
    function enemyDestroyed($enemy) {
        let indicator = false;
        CreateSound();
        for (let i = 0; i < validLetters.length; i++) {
            if ($enemy.attr('src') == validLetters[i]) {
                $("#scoreId").text(parseInt($("#scoreId").text()) + 1);
                indicator = true;
                break;
            }
        }
        if (!indicator) {
            lives--;
            RemoveHeart();
        }
        if (lives == '0') {
            GameOver();
        }
    }
    // This funcion removes remaining hearts on screen and replaces them with an updated heart amount
    function RemoveHeart() {
        $("#heartDiv").empty();
        FillHearts();
    }
    // This funcion creates "eating" sound
    function CreateSound() {
        if ($("#silenceBtn").val() == "🔔") {
            let $sound = $("<audio>");
            $sound.attr("src", "/Audio/Game_12/eat.mp3");
            $sound[0].play();
        }            
    }
    // This function ends all intervals of the game and allows the player to return to "Alphabet" page
    function GameOver() {
        $("#silenceBtn").remove();
        clearInterval(gameoverIndicator);
        $("footer").css("position", "auto");
        $("#sectionId").addClass("hidescreen");
        $("#buttonRet").addClass("hidescreen");
        $("#finalScore").text($("#scoreId").text());
        $("#endGameScreen").removeClass("hidescreen");
    }
    // This function return the player to "Alphabet" page
    function GoToAlphabet() {
         window.location.href = "@(Url.Action("ReturnToAlphabet", "Child"))";
    }
    // This function changes the slience button's appearance
    function ChangeSilenceBtn() {
        if ($("#silenceBtn").val() == "🔔") {
            $("#silenceBtn").val("🔕");
        }
        else {
            $("#silenceBtn").val("🔔");
        }
        $("#silenceBtn").blur();
    }
    // This function sets the location of the image arrows
    function SetArrows() {
        let x = $("#instructionId").position();
        x = x.left - $("#leftArrow").width() - $("#instructionId").width();
        let x2 = $("#instructionId").position();
        x2 = x2.left + ($("#instructionId").width() * 2);
        $("#leftArrow").css("left", x + "px");
        $("#rightArrow").css("left", x2 + "px");
    }
    // This function enables the movement of the image arrows
    function MoveArrows() {
        let $leftArrow = $("#leftArrow");
        let left = $("#instructionId").width();
        let leftTarget = parseInt($leftArrow.css("left")) + left;
        $leftArrow.animate({

            left: leftTarget

        }, {
                duration: 500,
                easing: "linear",
                complete: SetArrows

            });
        let $rightArrow = $("#rightArrow");
        let right = $("#instructionId").width();
        let rightTarget = parseInt($rightArrow.css("left")) - right;
        $rightArrow.animate({

            left: rightTarget

        }, {
                duration: 500,
                easing: "linear",
                complete: SetArrows

            });
    }
    // This function stops the arrow animations and removes the arrows
    function RemoveArrows() {
        clearInterval(arrowInterval);
        $("#leftArrow").remove();
        $("#rightArrow").remove();
    }
</script>

<body>
    <div style="text-align:center">
        <h1 id="title" style="color:forestgreen"> אכילת אותיות </h1>
        <h2 id="secondTitle" style="color:forestgreen">עבור שמיעת הוראות המשחק לחץ על סימן השמיעה למטה, להתחלת המשחק לחץ על כפתור התחלה</h2>
        <div id="arrowDiv">
            <img id="leftArrow" class="arrow" src="~/Pictures/Game_12/arrowLeft.png" />
            <i id="instructionId" class="fa fa-volume-up"></i>
            <img id="rightArrow" class="arrow" src="~/Pictures/Game_12/arrowRight.png" />
        </div>
        <h2 style="color:green"><b>  אות משחק זה היא @Model.Letter </b></h2>
        <input id="buttonId" class="myButton" type="button" value="התחלה" onclick="StartGame()" />
        <input id="buttonRet" class="myButton" type="button" value="חזור לאותיות" onclick="GoToAlphabet()" />
    </div>
    <section id="sectionId">
        <div id="heartDiv"></div>
        <p id="scoreId">0</p>
        <img id="user" src="~/Pictures/Game_12/mouth.png" />
    </section>
    <div id="silenceDiv">
        <input id="silenceBtn" type="button" value="🔔" onclick="ChangeSilenceBtn()" />
    </div>
    <div style="z-index:90;text-align:center" id="endGameScreen" class="hidescreen">
        <h1 style="color:forestgreen; font-size:60px"><b>ניקוד: </b><b><span id="finalScore"></span></b></h1>
        <input class="gameOverBtn, myButton" type="button" value="חזרה לעמוד אותיות" onclick="GoToAlphabet()" />
    </div>
    <footer style="text-align:center;font-size:x-small;display:block"><p>Ⓒ 2020 Learn-Hebrew</p></footer>
</body>