@model LearnHebrew.Models.GameInformationModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<style>
    section {
        position: relative;
        text-align:center;
        margin: auto;
    } 

    #endGameScreen {
        height: 50%;
    }

    .hidescreen {
        display: none;
    }

    .heart {
        opacity: 0.7;
        width: 25px;
    }

    #heartDiv {
        position: absolute;
        right: 0;
        top: 0;
        float: right;
        text-align: right;
        height: 50%;
    }

    #scoreId {
        margin-left: 15px;
        font-size: x-large;
        color: gold;
    }

    .mysteryImg {
        width: 300px;
        height: 200px;
    }

    .center {
        margin-left: auto;
        margin-right: auto;
    }
    .flip-box {
        background-color: transparent;
        width: 300px;
        height: 200px;
        border: 1px solid #f1f1f1;
        perspective: 1000px; /* Remove this if you don't want the 3D effect */
    }

    /* This container is needed to position the front and back side */
    .flip-box-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
    }

    /* Do an horizontal flip when you move the mouse over the flip box container */
    .flip-box:hover .flip-box-inner {
        transform: rotateY(180deg);
    }

    /* Position the front and back side */
    .flip-box-front, .flip-box-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden; /* Safari */
        backface-visibility: hidden;
    }

    

    /* Style the back side */
    .flip-box-back {
        
        transform: rotateY(180deg);
    }
</style>
<script>
    let contentArray = [];
    let startFlipTimerInterval; //interval for spawning enemies until game is over
    let timeUntilFirstFlip = 3;
    let lives = 10; //number of times a user can choose wrong in the game
    let gameStarted = false; //indicator for game started for not letting pressed enter
    $(document).ready(function () {
        $.ajax({
            url: '/Child/GetGameContent' +'/' + '?Letter=@Model.Letter',
            //url: "Url.Action("GoToGame", "Child", new { letterForGame = "letter"})" ,
            type: 'GET',
            dataType: 'json',
            error: function (e, ts, et) {
                alert("error at getgamecontent"+ ts);
            },
            success: function (data) {
                //alert("yes");
                UpdateGameContent(data);
            }
        })

    })
    function StartGame() {
        FillContenArray();
        // a get call will give the approved content here to a global var
        PutImages();
        alert(@Model.Contents.Count);

    }
    function UpdateGameContent(data) {
        contentArray.length = 0;
        let numberOfPairs = 1;
        for (let i = 0; i < numberOfPairs; i++) {

        //    $.ajax({
        //    url: '/Child/GetContentPath' +'/' + data.Contents[i].Data.PhotoFile,
        //    //url: "Url.Action("GoToGame", "Child", new { letterForGame = "letter"})" ,
        //    type: 'GET',
        //    dataType: 'json',
        //    error: function (e, ts, et) {
        //        alert("error at getcontentPath"+ ts);
        //    },
        //    success: function (path) {
        //        alert("path restored");
        //        contentArray.push(path);
        //        contentArray.push(path);
        //    }
        //})
            contentArray.push("/ContentFiles/" + data.Contents[i].Data.PhotoFile.Code + "." + data.Contents[i].Data.PhotoFile.Extention);
            //contentArray.push(path);
            //contentArray.push(BLL.Services.ContentServices.GetFilePath(data.Contents[i].Data.PhotoFile));
            //contentArray.push(BLL.Services.ContentServices.GetFilePath(data.Contents[i].Data.PhotoFile));

        }
        let imageDiv = $(".flip-box-back");
        for (var i = 0; i < imageDiv.length; i++) {
            let image = $('<img>');

            //alert(contentArray[0]);
            image.attr("src", contentArray[0]);
            //image.attr("src", "/ContentFiles" + "/" + data.Contents[0].Data.PhotoFile.Code + "." + data.Contents[0].Data.PhotoFile.Extention)
            image.addClass("mysteryImg");
            imageDiv[i].append(image);
        }


    }
    @*function FillContenArray_old() {
        contentArray.length = 0;
        let numberOfPairs = 4;
        for (let i = 1; i <= numberOfPairs; i++) {
            @{
                var rnd = new Random();
                var num = rnd.Next(0, Model.Contents.Count() - 1);
                }
            contentArray.push("@(BLL.Services.ContentServices.GetFilePath(Model.Contents[num].Data.PhotoFile))");
        }
    }*@
    

        //function FillContenArray() {
        //}
        //function PutImages() {
        //    let imageDiv = $(".flip-box-back");     
        //    for (var i = 0; i < imageDiv.length; i++) {
        //        let imge = $("<img>");
        //        imge.attr("src", contentArray[i]);
        //        imageDiv[i].append(imge);
        //    }

        //}
</script>
<body>
    <div style="text-align:center">
        <h1 style="color:gold"> משחק הזיכרון </h1>
        <h2 style="color:gold"> עבור שמיעת הוראות המשחק לחץ על סימן השמיעה למטה, להתחלת המשחק לחץ על כפתור התחלה או אנטר</h2>      
        <div><i id="explanationId" style="color:gold" class="fa fa-volume-up"></i></div>
        <input id="buttonId" type="button" value="התחלה" onclick="StartGame()" />
        <input class="hidescreen" id="buttonRet" type="button" value="חזור לאותיות" />
    </div>
    <section id="sectionId" class="w3-display-container	">
        <div id="heartDiv"></div>
        <div id="scoreDiv" class="w3-display-topleft"><p id="scoreId">0</p></div>
        <table class="center">
            <tr>
                <td>
                    <div class="flip-box">
                        <div class="flip-box-inner">
                            <div class="flip-box-front">
                                <img class="mysteryImg" src="~/Pictures/Game_1/mystery.jpeg" />
                            </div>
                            <div id="flip-box-back1" class="flip-box-back">  
                                
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="flip-box">
                        <div class="flip-box-inner">
                            <div class="flip-box-front">
                                <img class="mysteryImg" src="~/Pictures/Game_1/mystery.jpeg" />
                            </div>
                            <div id="flip-box-back2" class="flip-box-back">
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="flip-box">
                        <div class="flip-box-inner">
                            <div class="flip-box-front">
                                <img class="mysteryImg" src="~/Pictures/Game_1/mystery.jpeg" />
                            </div>
                            <div id="flip-box-back3" class="flip-box-back">
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="flip-box">
                        <div class="flip-box-inner">
                            <div class="flip-box-front">
                                <img class="mysteryImg" src="~/Pictures/Game_1/mystery.jpeg" />
                            </div>
                            <div id="flip-box-back4" class="flip-box-back">
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="flip-box">
                        <div class="flip-box-inner">
                            <div class="flip-box-front">
                                <img class="mysteryImg" src="~/Pictures/Game_1/mystery.jpeg" />
                            </div>
                            <div id="flip-box-back5" class="flip-box-back">
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="flip-box">
                        <div class="flip-box-inner">
                            <div class="flip-box-front">
                                <img class="mysteryImg" src="~/Pictures/Game_1/mystery.jpeg" />
                            </div>
                            <div id="flip-box-back6" class="flip-box-back">
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="flip-box">
                        <div class="flip-box-inner">
                            <div class="flip-box-front">
                                <img class="mysteryImg" src="~/Pictures/Game_1/mystery.jpeg" />
                            </div>
                            <div id="flip-box-back7" class="flip-box-back">
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="flip-box">
                        <div class="flip-box-inner">
                            <div class="flip-box-front">
                                <img class="mysteryImg" src="~/Pictures/Game_1/mystery.jpeg" />
                            </div>
                            <div id="flip-box-back8" class="flip-box-back">
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </section>
    <div style="z-index:90;text-align:center" id="endGameScreen" class="hidescreen">
        <h3>ניקוד: <span id="finalScore"></span></h3>
        
        <input class="buttonClass" type="button" value="חזרה לעמוד אותיות" onclick="GoToAlphabet()" />

    </div>
</body>