@{
    Layout = null;
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<style>
    img {
        max-width: 50%;
        max-height: 80%;
        border: 1px solid #ddd;
    }

     img:hover {
         box-shadow: 0 0 2px 1px rgba(0,140,186,0.5);
     }
     td {
            width:50%;
            height:80%;
     }

</style>
<script>
    
    function Start() {
    // a get call will give the approved content here to a global var 

    }
</script>
<h1> משחק מספר 1 </h1>
<h2>כאן יופיע הסבר על המשחק ואולי כפתור לשמיעת ההסבר</h2>
<input type="button" value="התחלה" onclick="Start()" />
<div id="mainDiv">
    <table>
        <tr>
            <td id="trd1">
                <img src="~/Pictures/Game_1/hidden.jpeg" />
            </td>
            <td id="trd2">
                <img src="~/Pictures/Game_1/hidden.jpeg" />
            </td>
            <td id="trd3">
                <img src="~/Pictures/Game_1/hidden.jpeg" />
            </td>
            <td id="trd4">
                <img src="~/Pictures/Game_1/hidden.jpeg" />
            </td>
        </tr>
        <tr>
            <td id="trd5">
                <img src="~/Pictures/Game_1/hidden.jpeg" />
            </td>
            <td id="trd6">
                <img src="~/Pictures/Game_1/hidden.jpeg" />
            </td>
            <td id="trd7">
                <img src="~/Pictures/Game_1/hidden.jpeg" />
            </td>
            <td id="trd8">
                <img src="~/Pictures/Game_1/hidden.jpeg" />
            </td>
        </tr>
    </table>
</div>
