@{
    Layout = null;
}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<style>
    canvas {
        width: 95%;
        height: 80%;
        background-image: url('../../Pictures/Game_19/background_2.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border: 3px solid black;
        z-index: 1;
        position: relative;
        padding-left: 0;
        padding-right: 0;
        
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    body {
        background-image: url('../../Pictures/Game_19/background.jpg');
    }
    #endGameScreen {
        background-color: aqua;
        width: 99%;
        height: 99%;
    }


    table {
        margin: auto;
        border: 1px solid black;
        border-collapse: collapse;
    }

    .hidescreen {
        display: none;
    }
    #heartId {
        width: 5%;
        height: 8%;
        z-index: 5;
        
        position: absolute;
    }
    .dropper {
        width: 6%;
        height: 9%;
        position: absolute;
        z-index:9;
    }
</style>


<body>
    <div style="text-align:center">
        <h1 style="color:gold"> שבירת לבנים </h1>
        <h2 style="color:gold">עבור שמיעת הוראות המשחק לחץ על סימן השמיעה למטה, להתחלת המשחק לחץ על כפתור אנטר</h2>
        <i id="explanationId" style="color:gold" class="fa fa-volume-up"></i>
    </div>
    <canvas id="canvasId"></canvas>
    <div style="z-index:90" id="endGameScreen" class="hidescreen">
        <table>
            <tr>
                <td><p id="finalScore">0</p></td>
                <td>ניקוד סופי :</td>
            </tr>
            <tr>
                <td><input type="button" value="חזרה לעמוד אותיות" onclick="GoToAlphabet()" /></td>
            </tr>
        </table>
    </div>
</body>

<script>
    var $canvas = document.getElementById("canvasId");
    var directionX = 3, directionY = -3;
    var $bricks = [];
    var gameStarted = false;
    var $ctx = $canvas.getContext("2d");
    var pongW = 40, pongH = 7, pongX = ($canvas.width - pongW) / 2, pongY = $canvas.height - pongH; //pong coordinators and size
    var ballR = 2, x = $canvas.width / 2, y = ($canvas.height - pongH) - ballR;//ball coordinators and size 
    var move = 10;
    var brickW = 11, brickH = 5;
    var counter = 0;
    var heart;
    var validLetters;
    var destoyedBrickY, destoyedBrickX;


    $(document).ready(function () {
        //ClassicMode();
        //CreativeMode();
        SilverMode();
        heart = $("<img>");
        heart.attr("src", "/Pictures/Game_19/heart.png");
        heart.attr("id", "heartId");

        validLetters = ["/Pictures/Game_19/kuuf1.PNG", "/Pictures/Game_19/kuuf2.PNG", "/Pictures/Game_19/kuuf3.PNG"];

        setInterval(draw, 50);
        heart.css("left", $canvas.width + "px");
        heart.css("top", 5 + "px");
        $("body").append(heart);
        $("body").keydown(userKey_Options);
    })
    function userKey_Options() {
        switch (window.event.keyCode) {
            case (37):// left keyboard was pressed = moving the user one move to the left
                //if (gameStarted) {
                    MoveLeft();
                //}  
                break;
            case (39):// right keyboard was pressed = moving the user one move to the right
                //if (gameStarted) {
                    MoveRight();
                //}               
                break;
            case (32)://release the ball
                if (!gameStarted) {
                    gameStarted = true;
                    
                    break;
                }               
                break;
            
        }
    }
    function MoveLeft() {
        MoveUserAxisX(-1 * move);
    }
    function MoveRight() {
        MoveUserAxisX(move);
    }
    function MoveUserAxisX(axisX) {
        var currentPosition = pongX;//getting current position of user
        var newPosition = currentPosition + axisX;//calculating new position of user

        if (newPosition >= 0 && newPosition <= ($canvas.width - pongW)) {
            pongX = newPosition;//moving user to new position
            if (!gameStarted) {
                x += axisX;
            }
        }

    }
    
       

    function drawBall() {
            $ctx.beginPath();
            $ctx.arc(x, y, ballR, 0, Math.PI * 2);
            $ctx.fillStyle = "#00C853";
            $ctx.fill();
            $ctx.closePath();
    }
    function drawPong() {
        $ctx.beginPath();
        $ctx.rect(pongX, pongY, pongW, pongH);
        $ctx.fillStyle = "#185E20";
        $ctx.fill();
        $ctx.closePath();
    }
    function ClassicMode() {
        var lookAheadX = -2 + move;
        var lookAheadY = 2*move;
        while (lookAheadY< ($canvas.height/2)) {
            while (lookAheadX < $canvas.width - (1*move)) {
                $bricks.push({
                    x: lookAheadX,
                    y: lookAheadY,
                    status: 2
                });
                lookAheadX = lookAheadX + brickW + move;
            }
            lookAheadX = -2 + move;
            lookAheadY = lookAheadY + brickH + move;
        }
    }
    function CreativeMode() {
        var lookAheadX = -5 + move;
        var lookAheadY = 2 * move;
        var temp = 0;
        while (lookAheadY < ($canvas.height / 2)) {
            while (lookAheadX < $canvas.width - (1 * move)) {
                $bricks.push({
                    x: lookAheadX,
                    y: lookAheadY,
                    status: 2
                });
                if (temp < 3) {
                    lookAheadX = lookAheadX + brickW;
                    temp++;
                }
                if (temp == 3) {
                    lookAheadX = lookAheadX + brickW + (2 * move);
                    temp = 0;
                }
                //lookAheadX = lookAheadX + brickW + move;
            }
            lookAheadX = -5 + move;
            lookAheadY = lookAheadY  + move;
        }

    }
    function SilverMode() {
        var lookAheadX = -5 + move;
        var lookAheadY = 2 * move;
        var temp = false;
        while (lookAheadY < ($canvas.height / 2)) {
            while (lookAheadX < $canvas.width - (1 * move)) {
                if (!temp) {
                    $bricks.push({
                        x: lookAheadX,
                        y: lookAheadY,
                        status: 2
                    });
                }
                else {
                    $bricks.push({
                        x: lookAheadX,
                        y: lookAheadY,
                        status: 3
                    });
                }
                
                if (!temp) {
                    lookAheadX = lookAheadX + brickW;
                    temp = true;
                }
                else
                    if (temp) {
                    lookAheadX = lookAheadX + brickW + (2 * move);
                    temp = false;
                }
                //lookAheadX = lookAheadX + brickW + move;
            }
            lookAheadX = -5 + move;
            lookAheadY = lookAheadY + move;
        }
    }
    function drawBricks() {
        $bricks.forEach(function (brick) {
            switch (brick.status) {
                case 3:
                    $ctx.beginPath();
                    $ctx.rect(brick.x, brick.y, brickW, brickH);
                    $ctx.fillStyle = "#b7c7c7";
                    $ctx.fill();
                    $ctx.closePath();
                    break;
                case 2:
                    $ctx.beginPath();
                    
                    $ctx.fillStyle = "#f08080";
                    $ctx.lineWidth = "1";
                    $ctx.strokeStyle = "black";
                    $ctx.rect(brick.x, brick.y, brickW, brickH);
                    $ctx.stroke();
                    $ctx.fill();
                    
                    $ctx.closePath();
                case 1:
                    return;             
            }
        });
    }
    function collisionDetection() {
        $bricks.forEach(function (brick) {
            var inBrickColumn = x > brick.x && x < brick.x + brickW, inBrickRow = y > brick.y && y < brick.y + brickH;
            switch (brick.status) {
                case 3:
                    if (inBrickColumn && inBrickRow) {
                        directionY = -directionY;
                        
                    }               
                    break;
                case 2:
                    //var inBrickColumn = x > brick.x && x < brick.x + brickW, inBrickRow = y > brick.y && y < brick.y + brickH;
                    if (inBrickColumn && inBrickRow) {
                        //alert(directionY);
                        directionY = -directionY;
                        //alert(directionY);
                        brick.status = 1;
                        counter++;
                        destoyedBrickY = brick.y;
                        destoyedBrickX = brick.x;
                        CreatDropper();
                    }
                    break;
                case 1:
                    return;
            }
        });
    }
    function draw() {
        $ctx.clearRect(0, 0, $canvas.width, $canvas.height);
        //alert($canvas.width);
        //alert(heart.width);
        //heart.css("left", 1350 + "px");
        //heart.css("left", $canvas.height  + "px");
        //heart.css("top", 5 + "px");
        drawBall();
        drawPong();
        drawBricks();
        collisionDetection();
        if (counter == $bricks.length)
            WinnerEndGame();
        if (HitSideWall()) {
            directionX = -directionX;
        }
        if (HitTop() || HitPong()) {
            directionY = -directionY;
        }
        if (gameOver()) {
            $("#canvasId").addClass("hidescreen");
            //$("#tableId").addClass("hidescreen");
            //$("#finalScore").text($("#score").text());
            $("#endGameScreen").removeClass("hidescreen");
        }

        function HitSideWall() {
            return x + directionX > $canvas.width - ballR || x + directionX < ballR;
        }
        function HitTop() {
            return y + directionY < ballR;
        }
        function HitPong() {
            return HitBottom() && BallOverPong();
        }
        function HitBottom() {
            return y + directionY > $canvas.height - ballR;
        }
        function BallOverPong() {
            return x > pongX && x < pongX + pongW;
        }
        function gameOver() {
            return HitBottom() && !BallOverPong();
        }












        if (gameStarted) {
            x += directionX;
            y += directionY;
        }
    }

    function WinnerEndGame() {
        $("#canvasId").addClass("hidescreen");
        //$("#tableId").addClass("hidescreen");
        //$("#finalScore").text($("#score").text());
        $("#endGameScreen").removeClass("hidescreen");
    }
    function GoToAlphabet() {

         window.location.href = "@(Url.Action("ReturnToAlphabet", "Child"))";

        }

    function CreatDropper() {
        var randomNumber = Math.floor((Math.random() * 10) + 1);
        if (randomNumber <= 9) {
            
            var pickedImg = Math.floor((Math.random() * validLetters.length) + 0);
            var $dropper = $("<img>");
            $dropper.attr("src", validLetters[pickedImg]);
            $dropper.addClass("dropper");
            
            $dropper.css("top", destoyedBrickY + "px");
            $dropper.css("left", destoyedBrickX + "px");
            //$ctx.drawImage($dropper, destoyedBrickX, destoyedBrickY);
            $("body").append($dropper);
            $dropper.animate({
                top: $canvas.height


            }, {
                    duration: 2000,
                    easing: "linear",
                    complete: deleteObject



                });
        }

        
    }
    function deleteObject() {
        $(this).remove();
    }

</script>

