@model LearnHebrew.Models.GameInformationModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<style>
    canvas {
        width: 95%;
        height: 80%;
        background-image: url('../../Pictures/Game_19/background_2.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border: 3px solid black;
        z-index: 1;
        position: relative;
        padding-left: 0;
        padding-right: 0;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    body {
        background-image: url('../../Pictures/Game_19/background.jpg');
    }

    footer {
        font-weight: bold;
        bottom: 0;
        width: 100%
    }
    #endGameScreen {
        height: 50%;
    }


    table {
        margin: auto;
        border: 1px solid black;
        border-collapse: collapse;
    }

    .hidescreen {
        display: none;
    }

    #heartId {
        width: 5%;
        height: 8%;
        z-index: 5;
        position: absolute;
    }

    .dropper {
        width: 6%;
        height: 9%;
        position: absolute;
        z-index: 9;
    }

    .myButton {
        box-shadow: inset 0px 1px 0px 0px #f9eca0;
        background: linear-gradient(to bottom, #f0c911 5%, #f2ab1e 100%);
        background-color: #f0c911;
        border-radius: 6px;
        border: 1px solid #e65f44;
        cursor: pointer;
        color: #c92200;
        font-family: Arial;
        font-size: 15px;
        font-weight: bold;
        padding: 1px 6px;
        text-decoration: none;
        text-shadow: 0px 1px 0px #ded17c;
        outline: none;
        margin-bottom:10px;
    }

        .myButton:hover {
            background: linear-gradient(to bottom, #f2ab1e 5%, #f0c911 100%);
            background-color: #f2ab1e;
        }

    #instructionId {
        cursor: pointer;
        color: goldenrod;
        margin-bottom: 5px;
        font-size: 30px;
    }

    #gameOverh {
        color: black;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .gameOverBtn {
        margin-top: 10px;
        outline: none;
    }
    #silenceDiv {
        text-align: center;
    }

    #silenceBtn {
        margin: 15px;
        border-radius: 30px;
        font-size: 20px;
        cursor: pointer;
        background-color: transparent;
        outline: none;
    }

    .arrow {
        height: 30px;
        position: absolute;
    }

    #arrowDiv {
        position: relative;
    }
    #title {
        font-family: 'Miri';
    }

    #secondTitle {
        font-family: 'Gan';
    }
</style>


<body>
    <div style="text-align:center">
        <h1 id="title" style="color:goldenrod"> שבירת לבנים </h1>
        <h2 id="secondTitle" style="color:goldenrod">עבור שמיעת הוראות המשחק לחץ על סימן השמיעה למטה, לשחרו רכדור המשחק לחץ על כפתור רווח</h2>
        <div id="arrowDiv">
            <img id="leftArrow" class="arrow" src="~/Pictures/Game_19/arrowLeft.png" />
            <i id="instructionId" class="fa fa-volume-up"></i>
            <img id="rightArrow" class="arrow" src="~/Pictures/Game_19/arrowRight.png" />
        </div>
        <input class="myButton" id="buttonRet" type="button" value="חזור לאותיות" onclick="GoToAlphabet()" />

    </div>
    <canvas id="canvasId"></canvas>
    <div style="z-index:90;text-align:center" id="endGameScreen" class="hidescreen">
        <h3 style="color:goldenrod; font-size:60px; font-weight:bold" id="gameOverh">ניקוד<b>: <span id="finalScore"></span></b></h3>
        <input class="gameOverBtn, myButton" type="button" value="חזרה לעמוד אותיות" onclick="GoToAlphabet()" />
    </div>
    <div id="silenceDiv">
        <input id="silenceBtn" type="button" value="🔔" onclick="ChangeSilenceBtn()" />
    </div>
    <footer style="text-align:center;font-size:x-small;display:block"><p>Ⓒ 2020 Learn-Hebrew</p></footer>

</body>

<script>
    let $canvas = document.getElementById("canvasId");// game canvas
    let directionX = 3, directionY = -3;// direction of the ball
    let $bricks = [];// array of bricks
    let gameStarted = false;// var for knowing the game has started
    let $ctx = $canvas.getContext("2d");// game canvas context
    let pongW = 40, pongH = 7, pongX = ($canvas.width - pongW) / 2, pongY = $canvas.height - pongH; //pong coordinators and size
    let ballR = 2, x = $canvas.width / 2, y = ($canvas.height - pongH) - ballR;//ball coordinators and size
    let move = 10;// movement of pong
    let brickW = 11, brickH = 5;// brick size
    let counter = 0;// counter for bricks "destroyed" by user
    let heart;// image heart
    let validLetters = [];// array of valid letter for the game, based on the user
    let destoyedBrickY, destoyedBrickX;// temp location of "destoyed" brick
    let lives = 2;// number of times a user can die in the game
    let drawInterval;// interval for calling the draw function
    let arrowInterval;// the interval variable of the arrow animation

    $(document).ready(function () {
        ChooseMode();
        heart = $("<img>");
        heart.attr("src", "/Pictures/Game_19/heart.png");
        heart.attr("id", "heartId");
        LoadGameInstruction();
        FillLetters();
        windowResize();
        SetArrows();
        arrowInterval = setInterval(MoveArrows, 1000);
        LoadSoundAndPicture();
        drawInterval = setInterval(draw, 50);
        heart.css("left", $canvas.width + "px");
        heart.css("top", 5 + "px");
        $("body").keydown(userKey_Options);
    })
    // This function pre loads the game instructions
    function LoadGameInstruction() {
        let obj = document.createElement("audio");
        obj.src = "/Audio/Game_19/Game_19_instructions.mp4";
        obj.volume = 0.3;
        obj.autoPlay = false;
        obj.preLoad = true;
        obj.controls = true;

        $("#instructionId").click(function () {
            obj.play();
        });
    }
    // This function resizes objects of the game according to the current size of the screen
    function windowResize() {
        $(window).resize(function () {
            $("#leftArrow").stop();
            $("#rightArrow").stop();
            $("#leftArrow").addClass("hidescreen");
            $("#rightArrow").addClass("hidescreen");
            setTimeout(
                function () {
                    $("#leftArrow").removeClass("hidescreen");
                    $("#rightArrow").removeClass("hidescreen");
                }, 2100);
            SetArrows();           
        })
    }
    //This function gets the path of the selected letter images
    function FillLetters() {
        $.ajax({
            url: '/Child/GetGameLetters' + '/' + '?Letter=@Model.Letter',
            type: 'GET',
            dataType: 'json',
            error: function (e, ts, et) {
                alert("error at GetGameLetters" + ts);
            },
            success: function (data) {
                for (let i = 0; i < 5; i++)
                    validLetters.push("/Pictures/Alphabet/" + data.ValidLetterName[i]);              
            }
        });
    }
    // This function decides the game mode
    function ChooseMode() {
        let randNum = Math.floor((Math.random() * 3) + 1);
        switch (randNum) {
            case 3:
                ClassicMode();
                break;
            case 2:
                CreativeMode();
                break;
            case 1:
                SilverMode();
                break;

        }
    }
    // This funcion pre loads the sound and pictures of the game
    function LoadSoundAndPicture() {
        new Audio("/Audio/Game_19/silver_bounce.mp3").load();
        new Audio("/Audio/Game_19/bounce.mp3").load();
        for (let i = 0; i < validLetters.length; i++) {
            fetch(validLetters[i]);
        }
    }
    // This function enables the movement of the user and the start of the game
    function userKey_Options() {
        switch (window.event.keyCode) {
            case (37):// left keyboard was pressed = moving the user one move to the left
                //if (gameStarted) {
                    MoveLeft();
                //}
                break;
            case (39):// right keyboard was pressed = moving the user one move to the right
                //if (gameStarted) {
                    MoveRight();
                //}
                break;
            case (32)://release the ball
                if (!gameStarted) {
                    RemoveArrows();
                    gameStarted = true;

                    break;
                }
                break;

        }
    }
    function MoveLeft() {
        MoveUserAxisX(-1 * move);
    }
    function MoveRight() {
        MoveUserAxisX(move);
    }
    function MoveUserAxisX(axisX) {
        let currentPosition = pongX;//getting current position of user
        let newPosition = currentPosition + axisX;//calculating new position of user

        if (newPosition >= 0 && newPosition <= ($canvas.width - pongW)) {
            pongX = newPosition;//moving user to new position
            if (!gameStarted) {
                x += axisX;
            }
        }

    }
    function drawBall() {
            $ctx.beginPath();
            $ctx.arc(x, y, ballR, 0, Math.PI * 2);
            $ctx.fillStyle = "#250517";
            $ctx.fill();
            $ctx.closePath();
    }
    function drawPong() {
        $ctx.beginPath();
        $ctx.rect(pongX, pongY, pongW, pongH);
        $ctx.fillStyle = "#4E387E";
        $ctx.fill();
        $ctx.closePath();
    }
    //Game mode 
    function ClassicMode() {
        let lookAheadX = -2 + move;
        let lookAheadY = 2*move;
        while (lookAheadY< ($canvas.height/2)) {
            while (lookAheadX < $canvas.width - (1*move)) {
                $bricks.push({
                    x: lookAheadX,
                    y: lookAheadY,
                    status: 2
                });
                lookAheadX = lookAheadX + brickW + move;
            }
            lookAheadX = -2 + move;
            lookAheadY = lookAheadY + brickH + move;
        }
    }
    //Game mode 
    function CreativeMode() {
        let lookAheadX = -5 + move;
        let lookAheadY = 2 * move;
        let temp = 0;
        while (lookAheadY < ($canvas.height / 2)) {
            while (lookAheadX < $canvas.width - (1 * move)) {
                $bricks.push({
                    x: lookAheadX,
                    y: lookAheadY,
                    status: 2
                });
                if (temp < 3) {
                    lookAheadX = lookAheadX + brickW;
                    temp++;
                }
                if (temp == 3) {
                    lookAheadX = lookAheadX + brickW + (2 * move);
                    temp = 0;
                }
                //lookAheadX = lookAheadX + brickW + move;
            }
            lookAheadX = -5 + move;
            lookAheadY = lookAheadY  + move;
        }

    }
    //Game mode 
    function SilverMode() {
        let lookAheadX = -5 + move;
        let lookAheadY = 2 * move;
        counter = 0;
        let temp = false;
        while (lookAheadY < ($canvas.height / 2)) {
            while (lookAheadX < $canvas.width - (1 * move)) {
                if (!temp) {
                    $bricks.push({
                        x: lookAheadX,
                        y: lookAheadY,
                        status: 2,
                        breakBar:0
                    });
                }
                else {
                    counter++;
                    $bricks.push({
                        x: lookAheadX,
                        y: lookAheadY,
                        status: 3,
                        breakBar: 3
                    });
                }

                if (!temp) {
                    lookAheadX = lookAheadX + brickW;
                    temp = true;
                }
                else
                    if (temp) {
                    lookAheadX = lookAheadX + brickW + (2 * move);
                    temp = false;
                }
            }
            lookAheadX = -5 + move;
            lookAheadY = lookAheadY + move;
        }
    }
    function drawBricks() {
        $bricks.forEach(function (brick) {
            switch (brick.status) {
                case 3:
                    $ctx.beginPath();
                    $ctx.rect(brick.x, brick.y, brickW, brickH);
                    $ctx.fillStyle = "#b7c7c7";
                    $ctx.fill();
                    $ctx.closePath();
                    break;
                case 2:
                    $ctx.beginPath();

                    $ctx.fillStyle = "#f08080";
                    $ctx.lineWidth = "1";
                    $ctx.strokeStyle = "black";
                    $ctx.rect(brick.x, brick.y, brickW, brickH);
                    $ctx.stroke();
                    $ctx.fill();

                    $ctx.closePath();
                case 1:
                    return;
            }
        });
    }
    function collisionDetection() {
        $bricks.forEach(function (brick) {
            let inBrickColumn = x > brick.x && x < brick.x + brickW, inBrickRow = y > brick.y && y < brick.y + brickH;
            switch (brick.status) {
                case 3:
                    if (inBrickColumn && inBrickRow) {
                        CreateSound(brick.status);
                        if (brick.breakBar != 0) {
                            directionY = -directionY;
                            brick.breakBar = 0;
                        }
                        else {
                            directionY = -directionY;
                            brick.status = 1;
                        }

                    }
                    break;
                case 2:
                    if (inBrickColumn && inBrickRow) {
                        CreateSound(brick.status);
                        directionY = -directionY;
                        brick.status = 1;
                        counter++;
                        destoyedBrickY = brick.y;
                        destoyedBrickX = brick.x;
                        CreatDropper();
                    }
                    break;
                case 1:
                    return;
            }
        });
    }
    // This function draws on canvas the objects of the game
    function draw() {
        $ctx.clearRect(0, 0, $canvas.width, $canvas.height);
        drawBall();
        drawPong();
        drawBricks();
        collisionDetection();
        if (counter == $bricks.length)
            WinnerEndGame();
        if (HitSideWall()) {
            CreateSound(1);
            directionX = -directionX;
        }
        if (HitTop() || HitPong()) {
            CreateSound(1);
            directionY = -directionY;
        }
        if (gameOver()) {
            if (lives == 0) {
                $("#finalScore").text(counter);
                $("footer").css("position", "absolute");
                $("#silenceBtn").remove();
                $("#canvasId").addClass("hidescreen");
                $("#buttonRet").addClass("hidescreen");
                clearInterval(drawInterval);
                $("#endGameScreen").removeClass("hidescreen");
            }
            lives--;
            gameStarted = false;
            pongX = ($canvas.width - pongW) / 2;
            pongY = $canvas.height - pongH;
            x = $canvas.width / 2;
            y = ($canvas.height - pongH) - ballR;
            directionY = -directionY;//check
        }


        function HitSideWall() {
            return x + directionX > $canvas.width - ballR || x + directionX < ballR;
        }
        function HitTop() {
            return y + directionY < ballR;
        }
        function HitPong() {
            return HitBottom() && BallOverPong();
        }
        function HitBottom() {

            return y + directionY > $canvas.height - ballR;
        }
        function BallOverPong() {
            return x > pongX && x < pongX + pongW;
        }
        function gameOver() {

            return HitBottom() && !BallOverPong();
        }












        if (gameStarted) {
            x += directionX;
            y += directionY;
        }
    }
    // This function enables screen of victory
    function WinnerEndGame() {
        $("#buttonRet").addClass("hidescreen");
        $("footer").css("position", "absolute");
        $("#silenceBtn").remove();
        clearInterval(drawInterval);
        $("#canvasId").addClass("hidescreen");
        $("#finalScore").text(counter);
        $("#endGameScreen").removeClass("hidescreen");
    }
    //This function return user to Alphabet page
    function GoToAlphabet() {

         window.location.href = "@(Url.Action("ReturnToAlphabet", "Child"))";

        }
    //This function creates a letter and drops it at the top of the screen
    function CreatDropper() {
        let randomNumber = Math.floor((Math.random() * 10) + 1);
        if (randomNumber <= 9) {

            let pickedImg = Math.floor((Math.random() * validLetters.length) + 0);
            let $dropper = $("<img>");
            $dropper.attr("src", validLetters[pickedImg]);
            $dropper.addClass("dropper");

            let axisX = random_PlaceX();
            $dropper.css("top", 0 + "px");
            $dropper.css("left", axisX + "px");
            $("body").append($dropper);
            $dropper.animate({
                top: $canvas.height

            }, {
                    duration: 2000,
                    easing: "linear",
                    complete: deleteObject

                });
        }
    }
    //This function returns a random axis X location
    function random_PlaceX() {
        let limitLeft = pongW * 8;
        let limitRight = pongW * 20;
        return Math.floor((Math.random() * limitRight) + limitLeft);
    }
    function deleteObject() {
        $(this).remove();
    }
    function CreateSound(number) {
        if ($("#silenceBtn").val() == "🔔") {
            let $sound;
            if (number == 3) {
                $sound = new Audio("/Audio/Game_19/silver_bounce.mp3");
            }
            else {
                $sound = new Audio("/Audio/Game_19/bounce.mp3");
            }
            $sound.play();
        }             
    }
    // This function changes the slience button's appearance
    function ChangeSilenceBtn() {
        if ($("#silenceBtn").val() == "🔔") {
            $("#silenceBtn").val("🔕");
        }
        else {
            $("#silenceBtn").val("🔔");
        }
        $("#silenceBtn").blur();
    }
    // This function sets the location of the image arrows
    function SetArrows() {
        let x = $("#instructionId").position();
        x = x.left - $("#leftArrow").width() - $("#instructionId").width();
        let x2 = $("#instructionId").position();
        x2 = x2.left + ($("#instructionId").width() * 2);
        $("#leftArrow").css("left", x + "px");
        $("#rightArrow").css("left", x2 + "px");
    }
    // This function enables the movement of the image arrows
    function MoveArrows() {
        let $leftArrow = $("#leftArrow");
        let left = $("#instructionId").width();
        let leftTarget = parseInt($leftArrow.css("left")) + left;
        $leftArrow.animate({

            left: leftTarget

        }, {
                duration: 500,
                easing: "linear",
                complete: SetArrows

            });
        let $rightArrow = $("#rightArrow");
        let right = $("#instructionId").width();
        let rightTarget = parseInt($rightArrow.css("left")) - right;
        $rightArrow.animate({

            left: rightTarget

        }, {
                duration: 500,
                easing: "linear",
                complete: SetArrows

            });
    }
    // This function stops the arrow animations and removes the arrows
    function RemoveArrows() {
        clearInterval(arrowInterval);
        $("#leftArrow").remove();
        $("#rightArrow").remove();
    }
</script>

