@{
    Layout = null;
}
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<style>
    .scratchit {
        position: relative;
    }

        .scratchit > canvas {
            border: 1px solid black;
            cursor: crosshair;
        }

        .scratchit > canvas,
        .scratchit > img + img {
            position: absolute;
            top: 0;
            left: 0;
        }

        .scratchit,
        .scratchit * {
            -moz-user-select: -moz-none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
</style>
<script>
    /*
 *
 *
 *
 * Copyright (c) 2015 Michelle Anderson
 * Licensed under the MIT license.
 */
    ; (function ($, window, document, undefined) {
        var x, y;
        var defaults = {
            color: "#C4B178",
            goal: 100,
            brush: 15

        };

        /**
        * ScratchIt

        */
        function ScratchIt(element, options) {
            this.$element = $(element);

            this.options = $.extend({}, defaults, options);

            this._defaults = defaults;
            this._name = 'scratchIt';

            this.isScratching === undefined && this.init();



        }

        ScratchIt.prototype = {

            init: function () {

                this.canvas = this.$element.find('canvas');
                this.context = this.canvas[0].getContext('2d');

                var context = this.context;
                this.context.fillStyle = this.options.color;
                this.context.fillRect(0, 0, this.canvas[0].width, this.canvas[0].height);
                this.totalPixels = this.canvas[0].width * this.canvas[0].height;

                if (this.$element.find('img').length > 1) {
                    var scratchedImage = new Image();
                    scratchedImage.onload = function () {
                        context.drawImage(scratchedImage, 0, 0);
                    };
                    scratchedImage.src = this.$element.find('img').attr("src");

                }


                this.context.strokeStyle = "#FFF";
                this.context.lineJoin = "round";
                this.context.lineCap = "round";
                this.context.lineWidth = this.options.brush;

                this.offsetxy = this.canvas.offset();

                this.canvas.on({
                    'mousedown.scratchit': $.proxy(this.onDown, this),
                    'mousemove.scratchit': $.proxy(this.onMove, this),
                    'mouseup.scratchit': $.proxy(this.onUp, this)
                });
            },

            onDown: function (e) {
                var context = this.context;
                x = e.pageX - this.offsetxy.left;
                y = e.pageY - this.offsetxy.top;
                context.globalCompositeOperation = "destination-out";
                context.beginPath();
                context.moveTo(x, y);
                context.lineTo(x - 1, y);
                context.stroke();
                this.isScratching = true;
                this.percentScratched();

            },
            onMove: function (e) {
                var context = this.context;
                if (!this.isScratching) { return; }
                x = e.pageX - this.offsetxy.left;
                y = e.pageY - this.offsetxy.top;
                context.lineTo(x, y);
                context.stroke();
                this.percentScratched();
            },
            onUp: function () {
                this.percentScratched();
                this.isScratching = false;

            },

            clear: function () {

            },

            onLoad: function () {

            },

            percentScratched: function () {

                var imageData = this.context.getImageData(0, 0, this.canvas[0].width, this.canvas[0].height),
                    imageDataLength = imageData.data.length;
                var now = Date.now();
                var clearedPixels = 0;

                if (!this.lastEvent || now - this.lastEvent >= 200) {
                    for (var i = 0; i < imageDataLength; i = i + 4) {
                        //the alpha of eace pixel is the 4th value
                        if (imageData.data[i + 3] === 0) {
                            clearedPixels++;

                        }
                    }
                    console.log((clearedPixels / this.totalPixels) * 100);
                    this.lastEvent = now;
                }


            }


        };

        $.fn.scratchIt = function (options) {
            return this.each(function () {
                if (!$.data(this, 'scratchIt')) {
                    $.data(this, 'ScratchIt',
                        new ScratchIt(this, options));
                }

            });
        };
    })(jQuery, window, document);

</script>
<script>
    var $scratchit;
    function Start() {
        
        //var a = $('<div>');
        //a.addClass("scratchit");
        //var pic1 = $('<img>');
        //var pic2 = $('<img>');
        //pic2.attr("src","Pictures/class.jpeg");
        //pic1.attr("src","Pictures/questionMark.jpeg");
        //pic1.width(400);
        //pic2.width(400);
        //pic1.width(200);
        //pic2.width(200);
        //var b = $('<canvas>');
        //b.width(400);
        //b.height(200);
        //a.append(pic1);
        //a.append(pic2);
        //a.append(b);
        //$('#mainDiv').append(a);
        //$scratchit = $('.scratchit').scratchIt();
        //$("revealedPic").attr("src","/Pictures/class.jpeg");
        //if ($scratchit == null)
        //     $scratchit = $('.scratchit').scratchIt();
        //else {
        //    $scratchit == null;
        //    $scratchit = $('.scratchit').scratchIt();
        //}
    }
</script>
<h1> משחק מספר 6 </h1>
<h2>כאן יופיע הסבר על המשחק ואולי כפתור לשמיעת ההסבר</h2>
<div>
    <input type="text" /><p>ניחוש הילד : </p>
    <input type="button" value="תמונה הבאה" onclick="ReBuild()" />
    <input type="button" value="התחלה" onclick="Start()" />
</div>
<div id="mainDiv">

   <div id="picturesDiv" class="scratchit">
        <img id="upperPic" src="~/Pictures/questionMark.jpeg" width="400" height="200">
        <img id="revealedPic"src="~/Pictures/class.jpeg" width="400" height="200">
        <canvas width="400" height="200"></canvas>
    </div>

</div>
<script>
    //$("revealedPic").attr("src", "~/Pictures/class.jpeg");
    var $scratchit = $('.scratchit').scratchIt();
    function NextPicture() {
        //this function :crates a new scartchit, loads a new picture into it
        //$("#upperPic").attr("src", "/Pictures/questionMark.jpeg");
        //$("#revealedPic").attr("src", "/Pictures/teacher.jpeg");
        //$scratchit = null;
        //$scratchit = $('.scratchit').scratchIt();

    }
    function ReBuild() {
        
        $("#picturesDiv").remove();
        var a = $('<div>');
        a.addClass("scratchit");
        a.attr('id', 'picturesDiv');
        var pic1 = $('<img>');
        var pic2 = $('<img>');
        pic2.attr("src","/Pictures/teacher.jpeg");
        pic1.attr("src","/Pictures/questionMark.jpeg");
        pic1.width(400);
        pic2.width(400);
        pic1.height(200);
        pic2.height(200);
        var b = $('<canvas>');
        b.width(400);
        b.height(200);
        a.append(pic1);
        a.append(pic2);
        a.append(b);
        $('#mainDiv').append(a);
        var $scratchit2 = $('.scratchit').scratchIt();
        
    }
</script>