@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    function goToIndexPage() {
         window.location.href = "@(Url.Action("ReturnToIndex", "Child"))";
    }
</script>
<style>
    body {
        background-image: url('../../Pictures/Help/back to school doodle .png');
        /*background-size: cover;*/
        background-position: center;
        background-size: auto 15%;
        background-attachment: fixed;
    }
    h4 {
        font-size: 2vw;
    }
    h3 {
        padding-bottom: 30px;
        font-size: 3vw;
    }

    h2 {
        padding-bottom: 30px;
        font-size: 4vw;
    }
    footer {
        font-weight: bold;
        bottom: 0;
        width: 100%
    }
    .animate-in {
        /*-webkit-animation: fadeIn .8s ease-in;*/
        animation: fadeIn .4s ease-in;
    }

    .animate-out {
        -webkit-transition: opacity .5s;
        transition: opacity .11s;
        opacity: 0;
    }

    @@-webkit-keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @@keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }
    .info {
        color: darkorange;       
        font-weight: bold;
    }
    #title {
        font-family:'Miri';
        font-size: 5vw;
        /*font: 80px Arial, sans-serif;*/
        font-weight: bold;
        text-decoration:underline;
        color: yellow;
        text-align: center;
    }
    #btnDiv{
        text-align:center;
        margin:auto;
    }
    .myButton {
        box-shadow: inset 0px 1px 0px 0px #f9eca0;
        background: linear-gradient(to bottom, #f0c911 5%, #f2ab1e 100%);
        background-color: #f0c911;
        border-radius: 6px;
        border: 1px solid #e65f44;
        cursor: pointer;
        color: #c92200;
        font-family: Arial;
        font-size: 15px;
        font-weight: bold;
        padding: 1px 6px;
        text-decoration: none;
        text-shadow: 0px 1px 0px #ded17c;
        margin-top: 10px;
        margin-bottom: 10px;
        outline: none;
    }

        .myButton:hover {
            background: linear-gradient(to bottom, #f2ab1e 5%, #f0c911 100%);
            background-color: #f2ab1e;
        }
    #TableofContentsId {
        margin: 40px;
        padding-bottom: 30px;
    }
    #informationDiv {
        margin: 40px;
    }
    #linksDiv {
        margin-bottom:80px;
        text-align:center;

    }
   
    #bottomDiv {
        margin: 40px;
    }
</style>
<body class="animate-in">
    <h1 id="title">עזרה והסברים</h1>
    <div id="btnDiv">
        <input type="button" class="myButton" value="חזור לעמוד משתמש ילד" onclick="goToIndexPage()" />
    </div>
    <div id="TableofContentsId">
        <a href="#q1"><h2 class="info">איך אני מגיע לאזור למידת אותיות ?</h2></a>
        <a href="#q2"><h2 class="info">כיצד אזור למידת אותיות עובד בדיוק ?</h2></a>
        <a href="#q3"><h2 class="info">למה בתחילת העמוד רשום ששמי הוא "אורח" ?</h2></a>
        <a href="#q4"><h2 class="info">האם תוצאותי והתקדמותי נשמרות כאשר אני "אורח" באתר ?</h2></a>
        <a href="#q5"><h2 class="info"> שכחתי מה הסיסמה שלי למשתמש ילד רשום לאתר, האם יש דרך להחליפה\להציגה שנית ? </h2></a>
        <a href="#q6"><h2 class="info">האם קיים הסבר מפורט כיצד כל משחק בנוי ?</h2></a>
        <a href="#q7"><h2 class="info">האם אני מוכרח ללמוד כל אות הקיימת ללמידה ?</h2></a>
        <a href="#q8"><h2 class="info">האם אני מוכרח לשחק בכל משחק ?</h2></a>
        <a href="#q9"><h2 class="info">האם אני מוכרח לעבור למידת אות על מנת לשחק משחק מסויים ?</h2></a>
        <a href="#q10"><h2 class="info">קיימים מילים שאני מתקשה בהם, האם זה אפשרי להוסיף אותם ללימודי האותיות ?</h2></a>
        <a href="#q11"><h2 class="info">האם אני מוכרח לשחק במשחק לאחר לימוד אות מסויימת ?</h2></a>
        <a href="#q12"><h2 class="info">נרשמתי לאתר, מה כדאי לי לעשות כעת ?</h2></a>
        <a href="#q13"><h2 class="info">האם למידת אות כוללת מבחן ?</h2></a>
        <a href="#q14"><h2 class="info">האם אני יכול לחלוק במשתמש שלי עם ילד נוסף ? </h2></a>
        <a href="#q15"><h2 class="info">האם שימוש האתר בעלות מסויימת ?</h2></a>
        <a href="#q16"><h2 class="info">האם תכני האתר מיועדים לבנים וגם לבנות ?</h2></a>
        <a href="#q17"><h2 class="info">אני מאוד אוהב את התמונות שמופיעות באתר זה, אפשר לדעת מהיכן הושגו התמונות ?</h2></a>
    </div>
    <div id="informationDiv">
        @*<a id="q1">
            <h3 class="info">ניתן להגיע לאזור למידת אותיות בלחיצה <a class="info" href="/Child/ReturnToAlphabet">כאן.</a></h3>
            </a>*@

        <h3 class="info">ניתן להגיע לאזור למידת אותיות בלחיצה <a id="q1" class="info" href="/Child/ReturnToAlphabet">כאן.</a></h3>

        <a id="q2">
            <h3 class="info">אזור למידת אותיות מספק לילדים את האופציה לבחור אות אותה ילמדו ומשחק בו ישחקו לאחר למידת האות שנבחרה. קיימים 12 משחקים מיועדים לילדים.</h3>
        </a>
        <a id="q3">
            <h3 class="info">שם הילד מוצג כ"אורח" כאשר במקום להיכנס לאתר באמצעות משתמש רשום, בחר הילד להיכנס לאתר תחת הזהות של "אורח".</h3>
        </a>
        <a id="q4">
            <h3 class="info">תוצאות והתקדמות ילד המוגדר כ"אורח" אינן נשמרות. על מנת לאפשר את שמירתן על הילד להיכנס לאתר דרך משתמש רשום.</h3>
        </a>
        <a id="q5">
            <h3 class="info">כרגע אינה קיימת אפשרות לשינוי סיסמת ילד משתמש רשום לאתר או להציגה שנית לאחר היווצרותה.</h3>
        </a>
        <a id="q6">
            <h3 class="info">כל משחק בראשית עמודו מכיל אייקון שמיעה המפרט כיצד לשחק במשחק זה. על מנת לשמוע הסבר זה יש ללחוץ על אותו אייקון בעמוד במשחק. </h3>
        </a>
        <a id="q7">
            <h3 class="info">אופן הלימוד תלוי לחלוטין בילד המשתמש במאפייני האתר והמבוגר הצופה בהתקדמותו. כמובן שזוהי המלצתנו כן ללמוד כל אותו ואות על מנת לשפר את לימודי הילד.</h3>
        </a>
        <a id="q8">
            <h3 class="info">בוודאי שלא. אם אתה נהנה ממשחקים מסויימים אתה חופשי לבחור לשחק בהם לאחר לימוד אות מסויימת.</h3>
        </a>
        <a id="q9">
            <h3 class="info">כרגע צורת הלימוד באתר בנויה כך שאכן הילד מחוייב לעבור לימוד אות מסויימת על מנת לשחק במשחק מסויים לאחר מכן.</h3>
        </a>
        <a id="q10">
            <h3 class="info">בוודאי, על מנת להוסיפן אנא פנה למבוגר הרשום לאתר (הורה או מבוגר אחר אותו אתה מכיר) ומסור לו את רשימת המילים אותן אתה רוצה להוסיף ללימודי האותיות. מבוגר זה יפנה לאזור עזרה והסברים של מבוגרים על מנת לדעת כיצד להעלות תכנים אלו.</h3>
        </a>
        <a id="q11">
            <h3 class="info">לא, אינך מוכרח לשחק במשחק לאחר לימוד אות מסויימת. בכל רגע נתון קיים כפתור בראשית עמוד המשחק המאפשר חזרה לאזור למידת אותיות.</h3>
        </a>
        <a id="q12">
            <h3 class="info">ברכותינו על הרשמותך לאתר, כעת הדבר הראשון אשר עליך לעשות הוא לרשום במקום נגיש את סיסמתך אשר קיבלת בעת הרשמותך. שמור היטב על סיסמתך ומסור אותה למבוגר הרשום לאתר (הורה או מבוגר אחר אותו אתה מכיר). עכשיו אתה חופשי לגשת לאזור לימודי אותיות ולהתחיל ללמוד .</h3>
        </a>
        <a id="q13">
            <h3 class="info">כן, למידת אות מסויימת כוללת מבחן הבודק האם אתה הילד יודע לזהות מילים מסויימות המתחילות באות למידה זו.</h3>
        </a>
        <a id="q14">
            <h3 class="info">אנו ממליצים לא לשתף את המשתמש שלך עם ילדים אחרים מאחר ודבר זה יפגע בדיוק מעקב התקדמותך בלמידת אותיות.</h3>
        </a>
        <a id="q15">
            <h3 class="info">ממש לא !. כרגע ולנצח שימוש האתר יהיה זמין לכל מבוגר וילד ללא עלות כלשהי.</h3>
        </a>
        <a id="q16">
            <h3 class="info">כמובן !. תכני האתר מיועדים לכולם. הסיבה שלשון האתר נכתבת כזכר הינה אך ורק מטעמי נוחות.</h3>
        </a>
        <a id="q17">
            <h3 class="info">בוודאי, הנה לינקים לאתר תמונות חינמיות: </h3>
        </a>
    </div>
    <div id="linksDiv">

        <h4>
            <a class="info" href="https://pngtree.com/free-backgrounds">free background photos from pngtree.com</a>
        </h4>
        <h4>
            <a class="info" href='https://pngtree.com/so/student'>student png from pngtree.com</a>
        </h4>
        <h4>
            <a class="info" href='https://pngtree.com/so/hand-painted'>hand-painted png from pngtree.com</a>
        </h4>
        <h4>
            <a class="info" href='https://pngtree.com/so/black'>black png from pngtree.com</a>
        </h4>
        <h4>
            <a class="info" href='https://pngtree.com/so/school'>school png from pngtree.com</a>
        </h4>
        <h4>
            <a class="info" href='https://pixabay.com/'>free background photos pixabay.com</a>
        </h4>

    </div>
    <div class="info" id="bottomDiv">
        <h3>אני ממליצים להיעזר במבוגר בזמן שימוש בעמוד עזרה זה.</h3>
        <h3>במידה וקיימת שאלה אשר לא נענתה בעמוד זה רצוי לפנות לעזרת מבוגר אשר בסביבתך.</h3>
        <h3>אנחנו מקווים שעזרנו לכם ומאחלים לכם הצלחה בלימודי השפה העברית.</h3>
    </div>
    <footer style="text-align:center;font-size:x-small;display:block"><p>Ⓒ 2020 Learn-Hebrew</p></footer>

</body>
