@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    function goToIndexPage() {
         window.location.href = "@(Url.Action("ReturnToIndex", "Child"))";
    }
</script>
<style>
    #TableofContentsId {
        margin:40px;
        padding-bottom:30px;

    }
    #informationDiv {
        margin: 40px;
    }
</style>
<body>
    <h1>עזרה והסברים</h1>
    <div>
        <input type="button" value="חזור לעמוד משתמש ילד" onclick="goToIndexPage()" />
        <p>שאלות הנוגעות למאפייני משתמשים ילדים</p>
    </div>
    <div id="TableofContentsId">
        <h2>איך אני מגיע לאזור למידת אותיות ?</h2>
        <h2>כיצד אזור למידת אותיות עובד בדיוק ?</h2>
        <h2>למה בתחילת העמוד רשום ששמי הוא "אורח" ?</h2>
        <h2>האם תוצאותי והתקדמותי נשמרות כאשר אני "אורח" באתר ?</h2>
        <h2> שכחתי מה הסיסמה שלי למשתמש ילד רשום לאתר, האם יש דרך להחליפה\להציגה שנית ? </h2>
        <h2>האם קיים הסבר מפורט כיצד כל משחק בנוי ?</h2>
        <h2>האם אני מוכרח ללמוד כל אות הקיימת ללמידה ?</h2>
        <h2>האם אני מוכרח לשחק בכל משחק ?</h2>
        <h2>האם אני מוכרח לעבור למידת אות על מנת לשחק משחק מסויים ?</h2>
        <h2>קיימים מילים שאני מתקשה בהם, האם זה אפשרי להוסיף אותם ללימודי האותיות ?</h2>
        <h2>האם אני מוכרח לשחק במשחק לאחר לימוד אות מסויימת ?</h2>
        <h2>נרשמתי לאתר, מה כדאי לי לעשות כעת ?</h2>
        <h2>האם למידת אות כוללת מבחן ?</h2>
        <h2>האם אני יכול לחלוק במשתמש שלי עם ילד נוסף ? </h2>
        <h2>האם שימוש האתר בעלות מסויימת ?</h2>
        <h2>אני מאוד אוהב את התמונות שמופיעות באתר זה, אפשר לדעת מהיכן הושגו התמונות ?</h2>
    </div>
    <div id="informationDiv">
        <h3>ניתן להגיע לאזור למידת אותיות בלחיצה <a href="/Child/ReturnToAlphabet">כאן.</a></h3>
        <h3>אזור למידת אותיות מספק לילדים את האופציה לבחור אות אותה ילמדו ומשחק בו ישחקו לאחר למידת האות שנבחרה. קיימים 12 משחקים מיועדים לילדים</h3>
        <h3>שם הילד מוצג כ"אורח" כאשר במקום להיכנס לאתר באמצעות משתמש רשום, בחר הילד להיכנס לאתר תחת הזהות של "אורח"</h3>
        <h3>תוצאות והתקדמות ילד המוגדר כ"אורח" אינן נשמרות. על מנת לאפשר את שמירתן על הילד להיכנס לאתר דרך משתמש רשום.</h3>
        <h3>כרגע אינה קיימת אפשרות לשינוי סיסמת ילד משתמש רשום לאתר או להציגה שנית לאחר היווצרותה.</h3>
        <h3>כל משחק בראשית עמודו מכיל אייקון שמיעה המפרט כיצד לשחק במשחק זה. על מנת לשמוע הסבר זה יש ללחוץ על אותו אייקון בעמוד במשחק. </h3>
        <h3>אופן הלימוד תלוי לחלוטין בילד המשתמש במאפייני האתר והמבוגר הצופה בהתקדמותו. כמובן שזוהי המלצתנו כן ללמוד כל אותו ואות על מנת לשפר את לימודי הילד.</h3>
        <h3>בוודאי שלא. אם אתה נהנה ממשחקים מסויימים אתה חופשי לבחור לשחק בהם לאחר לימוד אות מסויימת.</h3>
        <h3>כרגע צורת הלימוד באתר בנויה כך שאכן הילד מחוייב לעבור לימוד אות מסויימת על מנת לשחק במשחק מסויים לאחר מכן.</h3>
        <h3>בוודאי, על מנת להוסיפן אנא פנה למבוגר הרשום לאתר (הורה או מבוגר אחר אותו אתה מכיר) ומסור לו את רשימת המילים אותן אתה רוצה להוסיף ללימודי האותיות. מבוגר זה יפנה לאזור עזרה והסברים של מבוגרים על מנת לדעת כיצד להעלות תכנים אלו.</h3>
        <h3>לא, אינך מוכרח לשחק במשחק לאחר לימוד אות מסויימת. בכל רגע נתון קיים כפתור בראשית עמוד המשחק המאפשר חזרה לאזור למידת אותיות.</h3>
        <h3>ברכותינו על הרשמותך לאתר, כעת הדבר הראשון עליך לעשות הוא לרשום במקום נגיש את סיסמתך אשר קיבלת בעת הרשמותך. שמור היטב על סיסמתך ומסור אותה למבוגר הרשום לאתר (הורה או מבוגר אחר אותו אתה מכיר). עכשיו אתה חופשי לגשת לאזור לימודי אותיות ולהתחיל ללמוד .</h3>
        <h3>כן, למידת אות מסויימת כוללת מבחן הבודק האם אתה הילד יודע לזהות מילים מסויימות המתחילות באות למידה זו.</h3>
        <h3>אנו ממליצים לא לשתף את המשתמש שלך עם ילדים אחרים מאחר ודבר זה יפגע בדיוק מעקב התקדמותך בלמידת אותיות.</h3>
        <h3>ממש לא !. כרגע ולנצח שימוש האתר יהיה זמין לכל מבוגר וילד ללא עלות כלשהי.</h3>
        <h3>בוודאי, הנה לינקים לאתר תמונות חינמיות: לינק לינק לינק ....</h3>
    </div>
</body>
