@model LearnHebrew.Models.childModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    //$(document).ready(function () {
    //    $("#childName").text(sessionStorage.getItem("childName"));
    //    if ($("#childName").text == "אורח")
    //        $("#tdTest").hide();
    //});

    function goToStarterPage() {
        window.location.href = "@(Url.Action("SiteIndex", "Home"))";
    }


</script>
<style>
    img {
        max-width: 50%;
        max-height: 50%;
        border: 1px solid #ddd;
    }

        img:hover {
            box-shadow: 0 0 2px 1px rgba(0,140,186,0.5);
        }
</style>

<h1>עמוד משתמש של ילד</h1>
<div style="display:block">
    <input type="button" value="התנתקות" onclick="goToStarterPage()" /><p id="childName">@Model.child.Name</p><p> שלום</p>
</div>
<table>
    <tr>
        <td id="tdLetters">
            <a href="@(Url.Action("ChildLetters", "Child"))">
                <img src="~/Pictures/questionMark.jpeg" />
            </a>
        </td>
        <td id="tdHelp">
            <img src="~/Pictures/teacher.jpeg" />
        </td>
        <td id="tdTest">
            <img src="~/Pictures/class.jpeg" />
        </td>
    </tr>
</table>
