@model LearnHebrew.Models.childModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    $(document).ready(function () {
       window.addEventListener("beforeunload", function () {
        document.body.classList.add("animate-out");
    });
    })
    $(window).on("beforeunload", function () {
        $("body").addClass("animate-out");
    })
    //window.addEventListener("beforeunload", function () {
    //    document.body.classList.add("animate-out");
    //});
    function goToStarterPage() {
        window.location.href = "@(Url.Action("SiteIndex", "Home"))";
    }


</script>
<style>
    body {
        background-image: url('../../Pictures/ChildIndex/students_frame.png');
        /*background-image: url('../../Pictures/ChildIndex/Webp.net-resizeimage.png');*/
        /*background-position: center;*/
        background-repeat: no-repeat;
        /*background-size: cover;*/
        background-position: center;
        background-size: 100% 100%;
        background-attachment: fixed;
    }
    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        font-weight: bold;
    }
    .animate-in {
    /*-webkit-animation: fadeIn .8s ease-in;*/
    animation: fadeIn .4s ease-in;
    }

    .animate-out {
        -webkit-transition: opacity .5s;
        transition: opacity .11s;
        opacity: 0;
    }

    @@-webkit-keyframes fadeIn {
        from { opacity: 0; }
        to { opacity: 1; }
    }

    @@keyframes fadeIn {
        from { opacity: 0; }
        to { opacity: 1; }
    }

    /* Container needed to position the overlay. Adjust the width as needed */
    .container {
        position: relative;
        /*width: 50%;*/
        max-width: 300px;
        max-height: 300px;
    }

    /* Make the image to responsive */
    .image {
        /*display: block;*/
        width: 100%;
        /*height: auto;*/
    }

    /* The overlay effect - lays on top of the container and over the image */
    .overlay {
        position: absolute;
        bottom: 0;
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.5); /* Black see-through */
        color: #f1f1f1;
        width: 90%;
        transition: .5s ease;
        opacity: 0;
        color: white;
        font-size: 20px;
        padding: 20px;
        text-align: center;
    }

    /* When you mouse over the container, fade in the overlay title */
    .container:hover .overlay {
        opacity: 1;
    }
    #leaveBtn {
        background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
        -webkit-background-clip: text;
        color: transparent;
        border-radius: 30px;
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
        font-weight: bold;
        border: 2px solid black;
        outline: none;
    }
        #leaveBtn:hover {
            /*background: linear-gradient(to bottom, grey 5%, grey 20%);
            background-color: grey;*/
            background-image: linear-gradient(to left, yellow, orange, red);
        }
    #optionsTable {
        text-align: center;
        margin: auto;
    }
    #upperDiv{
        text-align:center;
        margin:auto;
    }
    footer {
        position: absolute;
        bottom: 0;
        width: 100%
    }
    #title {
        font-size: 5vw;
    }
    #childName {
        font-size: 2vw;
        margin-bottom:20px;
    }
    .rainbow {
        background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
        -webkit-background-clip: text;
        color: transparent;
    }
    img {
        /*max-width: 50%;
        max-height: 50%;*/
        width: 200px;
        height: 200px;
        border: 1px solid #ddd;
    }

        img:hover {
            box-shadow: 0 0 2px 1px rgba(0,140,186,0.5);
        }

        @@media(max-width: 1336px)
        {
            #tdLetters{width:20px;}
        }
</style>
<body class="animate-in">

    <div id="upperDiv" style="display:block">
        <h1 id="title" class="rainbow">עמוד משתמש של ילד</h1>
        <input id="leaveBtn" type="button" value="התנתקות" onclick="goToStarterPage()" /><p class="rainbow" id="childName">  שלום @Model.child.Name, בבקשה בחר באחת התמונות הבאות:</p>
    </div>
    <table id="optionsTable">
        <tr>
            <td id="tdLetters">

                <div class="container">
                    <a href="@(Url.Action("ChildLetters", "Child"))">
                        <img class="image" src="~/Pictures/teacher.jpeg" />
                    </a>
                    <div class="overlay">למידת אותיות</div>
                </div>
            </td>
            <td id="tdHelp">

                <div class="container">
                    <a href="@(Url.Action("HelpPage", "Child"))">
                        <img class="image" src="~/Pictures/questionMark.jpeg" />
                    </a>
                    <div class="overlay">עזרה והסברים</div>
                </div>

            </td>
            <td id="tdTest">
                <img src="~/Pictures/class.jpeg" />
            </td>
        </tr>
    </table>
    <footer style="text-align:center;font-size:x-small;display:block"><p>Ⓒ 2020 Learn-Hebrew</p></footer>

</body>