@model LearnHebrew.Models.childModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    //$(document).ready(function () {
    //    $("#childName").text(sessionStorage.getItem("childName"));
    //    if ($("#childName").text == "אורח")
    //        $("#tdTest").hide();
    //});

    function goToStarterPage() {
        window.location.href = "@(Url.Action("SiteIndex", "Home"))";
    }


</script>
<style>
    /** {
        box-sizing: border-box
    }*/

    /* Container needed to position the overlay. Adjust the width as needed */
    .container {
        position: relative;
        /*width: 50%;*/
        max-width: 300px;
        max-height: 300px;
    }

    /* Make the image to responsive */
    .image {
        /*display: block;*/
        width: 100%;
        /*height: auto;*/
    }

    /* The overlay effect - lays on top of the container and over the image */
    .overlay {
        position: absolute;
        bottom: 0;
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.5); /* Black see-through */
        color: #f1f1f1;
        width: 90%;
        transition: .5s ease;
        opacity: 0;
        color: white;
        font-size: 20px;
        padding: 20px;
        text-align: center;
    }

    /* When you mouse over the container, fade in the overlay title */
    .container:hover .overlay {
        opacity: 1;
    }

    #optionsTable{
        text-align:center;
        margin:auto;
    }

    footer{
        position:absolute;
        bottom:0;
        width:100%
    }

    img {
        /*max-width: 50%;
        max-height: 50%;*/
        width: 200px;
        height: 200px;
        border: 1px solid #ddd;
    }

        img:hover {
            box-shadow: 0 0 2px 1px rgba(0,140,186,0.5);
        }
</style>

<h1>עמוד משתמש של ילד</h1>
<div style="display:block">
    <input type="button" value="התנתקות" onclick="goToStarterPage()" /><p id="childName">  שלום @Model.child.Name</p>
</div>
<table id="optionsTable">
    <tr>
        <td id="tdLetters">
            
            <div class="container">
                <a href="@(Url.Action("ChildLetters", "Child"))">
                    <img class="image" src="~/Pictures/teacher.jpeg" />
                </a>
                <div class="overlay">למידת אותיות</div>
            </div>
        </td>
        <td id="tdHelp">
            
            <div class="container">
                <a href="@(Url.Action("HelpPage", "Child"))">
                    <img class="image" src="~/Pictures/questionMark.jpeg" />
                </a>
                <div class="overlay">עזרה והסברים</div>
            </div>
            
        </td>
        <td id="tdTest">
            <img src="~/Pictures/class.jpeg" />
        </td>
    </tr>
</table>
