
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script>
    function AdultRegistration() {
        window.location.href = "@(Url.Action("AdultRegistration", "Home"))";
    }
</script>

<div style="width:50%; margin:auto; padding:10px; text-align:center;">
    <h3>אנא הזן פרטי התחברות כדי להכנס למערכת</h3>
</div>


<div id="LoginAdultContainer">
    <div class="LoginContainer">
        @using (Html.BeginForm("AdultLogin", "Login", FormMethod.Post))
        {
            <div class="LoginInput">
                <label>שם משתמש</label>
                <input name="AdultName" />
            </div>
            <div class="LoginInput">
                <label>סיסמא</label>
                <input name="AdultPassword" />
            </div>
    
            <button type="submit">התחבר</button>
        }
    </div>
    
    <div class="RegisterBtnDiv">
        <span>
            משתמש חדש? לחץ על מנת להתחבר למערכת בפעם הראשונה
        </span>
        <input type="button" value="הרשם" onclick="AdultRegistration()"/>
    </div>
</div>

<style>


</style>