
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="RegistraitionInstruction">
    <span>
        על מנת להרשם למערכת אנא מלא את כל הפרטים הבאים. פרטים אלה ישמשו אותך על מנת להתחבר למערכת
    </span>
    <p>
        במידה ואתה מורה, בחר את הסימון של מורה
    </p>
</div>

<div id="RegisterAdultContainer">
    @using (Html.BeginForm("SaveAdult", "Adult", FormMethod.Post))
    {
        <div class="LoginInput">
            <label>שם משתמש</label>
            <input name="AdultName" />
        </div>
        <div class="LoginInput">
            <label>סיסמא</label>
            <input name="AdultPassword" />
        </div>

        <div class="LoginInput">
            <label>הרשם כמורה</label>
            <input type="checkbox" value="true" name="IsSignAsTeacher" />
        </div>

        <button type="submit">הרשם</button>
    }
</div>

<style>
    #RegisterAdultContainer button {width: 200px; height:30px; margin-top:10px;}
</style>