@model LearnHebrew.Models.messageModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <script>
    function ReturnToMainPage() {
        window.location.href = "@Url.Action("AdultLogin", "Home")"
    }
    </script>

<div id="AdultPageSize">
    <div>
        <input type="button" id="returnToMainPageBtn" onclick="ReturnToMainPage()" value="חזור לעמוד כניסה" />
    </div>
     
    <div class="RegistraitionInstruction">
        <span>
            על מנת להרשם למערכת אנא מלא את כל הפרטים הבאים. פרטים אלה ישמשו אותך על מנת להתחבר למערכת
        </span>
        <p>
            במידה ואתה מורה, בחר את הסימון של מורה
        </p>
    </div>

    <div id="RegisterAdultContainer">
        @using (Html.BeginForm("SaveAdultRegistration", "Adult", FormMethod.Post, new { id = "AdultRegisterForm" }))
        {
            <div class="LoginInput">
                <label>שם משתמש</label>
                <input name="AdultName" />
            </div>
            <div class="LoginInput">
                <label>סיסמא</label>
                <input name="AdultPassword" />
            </div>

            <div class="LoginInput">
                <label>הרשם כמורה</label>
                <input type="checkbox" value="true" name="IsSignAsTeacher" />
            </div>

            <button type="submit">הרשם</button>

            if (!string.IsNullOrEmpty(Model.message))
            {
                <div class="ErrorMsg">
                    <span>@Model.message</span>
                </div>
            }
        }
    </div>
</div>

<style>
    #AdultPageSize {
        width: 100%;
        height: 100%;
        padding: 0px 40px;
    }

    #RegisterAdultContainer button {
        width: 200px;
        height: 30px;
        margin-top: 20px;
    }

    .ErrorMsg {
        margin-top: 20px;
        font-size: 20px;
        color: red;
    }
</style>