@model LearnHebrew.Models.AdultModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>בחר ילד לצפייה בהתקדמות שלו</h2>

@if(Model.AdultChilds != null && Model.AdultChilds.Count() > 0)
{
    foreach(var child in Model.AdultChilds)
    {
        <h6>@child.Name</h6>
    }
}
else
{
    <h6>לא קיימים ילדים, אנא הוסף תחילה ילדים לרשימה שלך מהמסך הראשי</h6>
}

