@model LearnHebrew.Models.AdultModel

@{
    ViewBag.Title = "UploadContent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("~/Views/Adult/_ReturnToMainAdultPage.cshtml", Model)

<h2>UploadContent</h2>

<div id="UploadContentFormContainer">
    @using (Html.BeginForm("SaveUnseen", "Adult", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div>
            <input type="hidden" name="AdultID" value="@Model.Adult.AdultID" />
            <input type="hidden" name="AdultID" value="@Model.Adult.AdultID" />

        </div>
        <div>
            <label>הכנס מילה מנוקדת</label>
            <input type="text" name="Word" required />
        </div>
        <div>
            <label>בחר קטע קול</label>
            <input type="file" name="Voice" required />
        </div>

        <input type="submit" value="שמור תוכן" />
    }
</div>


<div id="nikodSite">

    <iframe src="http://www.nakdan.com/nakdan.aspx" scrolling="no" frameborder="0"></iframe>

</div>


<style>
    #UploadContentFormContainer {
        width: 47%;
        display: inline-block;
        float: left;
    }

    #nikodSite {
        width: 47%;
        border: 1px solid;
        height: 500px;
        display: inline-block;
        position: relative;
        overflow: hidden;
    }

    iframe {
        position: absolute;
        height: 2000px;
        width: 100%;
        top: -420px;
    }

    input[type="button"], input[type="submit"], button {
        min-width: 100px;
        border-radius: 5px;
        border: 1px solid;
        height: 30px;
        background-color: #70bec1;
    }

    input, [type="text"] {
        min-width: 200px;
        height: 30px;
        border-radius: 5px;
        border: 1px solid;
        background: #f3f3f3;
    }

        input[type="file"] {
            padding: 3px;
        }

        input[type="checkbox"] {
            height: 20px;
        }
</style>