@model LearnHebrew.Models.AdultModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<h3>hello - @(Model.Adult.Name)</h3>


<div>
    <h3>העלאת תכנים חדשים</h3>
</div>
<div>
    <h3>אישור תכנים חדשים</h3>
</div>
<div>
    <h3>קישור לילד רשום</h3>
</div>
<div>
    <h3>צפייה בהתקדמות הילד</h3>
</div>