
@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>

    function GoToChildLogin() {
        @*$.post("@Url.Action("ChildLogin", "Home")", function (data) {
            $("#childchild").html(data);
        });*@



        window.location.href = "@(Url.Action("ChildLogin", "Home"))";
    }

    function GoToAdultLogin() {
        window.location.href = "@(Url.Action("AdultLogin", "Home"))";
    }

</script>


<div id="MainPageContainer">
    <div id="HeaderChoseTypeDiv">
        <h3>מי אתה?</h3>
    </div>
    <div id="Child" onclick="GoToChildLogin()">
        <span>אני ילד</span>
    </div>

    <div id="Adult" onclick="GoToAdultLogin()">
        <span>אני מבוגר</span>
    </div>
</div>

@*<div id="childchild">

</div>*@

<style>

    #MainPageContainer {
        width: 80%;
        margin: auto;
        text-align: center;
        height: 80%;
        position:relative;
    }

    #HeaderChoseTypeDiv {
        background: #e4dfdf;
        width: 100%;
        height: 20%;
        position: relative;
        margin-bottom: 10px;
    }

    #HeaderChoseTypeDiv h3 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
        font-size: 40px;
    }

    #Child, #Adult {
        width: 45%;
        height: 80%;
        background: #e4dfdf;
        display: inline-block;
        position:absolute;
    }

    #Child {right: 10px;}
    #Adult {left: 10px;}
</style>