
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>

    function GoToChildLogin() {
        @*$.post("@Url.Action("ChildLogin", "Home")", function (data) {
            $("#childchild").html(data);
        });*@



        window.location.href = "@(Url.Action("ChildLogin", "Home"))";
    }

    function GoToAdultLogin() {
        window.location.href = "@(Url.Action("AdultLogin", "Home"))";
    }

</script>


<div id="MainPageContainer">
    <div id="HeaderChoseTypeDiv">
        @*<h3>מי אתה?</h3>*@
        <h3>לומדה עברית</h3>
    </div>
    <div id="Child" onclick="GoToChildLogin()">
        <div class="UserTypeTitle">
            <span>אני ילד</span>
        </div>
        <div class="UserTypeImage">
            @*<img src="~/Pictures/children.png" />*@
        </div>
    </div>

    <div class="ChildOrAdult">
        <span>מי אתה?</span>
        @*<span class="rightArrow">-></span>
            <span class="leftArrow"></span>*@

    </div>
    <div id="Adult" onclick="GoToAdultLogin()">
        <div class="UserTypeTitle">
            <span>אני מבוגר</span>
        </div>
        <div class="UserTypeImage">
            @*<img src="~/Pictures/adults.png" />*@
        </div>
    </div>
</div>


<style>
    body {
        background-color: aliceblue;
    }

    #MainPageContainer {
        width: 80%;
        margin: auto;
        text-align: center;
        height: 90%;
        position: relative;
    }

    #HeaderChoseTypeDiv {
        /*background: #e4dfdf;*/
        width: 100%;
        height: 20%;
        position: relative;
        margin-bottom: 20px;
    }

        #HeaderChoseTypeDiv h3 {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            margin: 0;
            font-size: 70px;
            font-family: "gan";
        }

    #Child, #Adult {
        width: 40%;
        height: 78%;
        /*background: #e4dfdf;*/
        display: inline-block;
        position: absolute;
        cursor: pointer;
        border-radius: 60px;

        transition: all 2s;
        -webkit-transition: background 2s;
        -moz-transition: background 2s;
        -o-transition: background 2s;
        transition: background 2s;
    }

    #Child {
        right: 0px;
    }

    #Adult {
        left: 0px;
    }

        #Child:hover, #Adult:hover {
            background: -webkit-linear-gradient(#C7D3DC,#5B798E);
            background: -moz-linear-gradient(#C7D3DC,#5B798E);
            background: -o-linear-gradient(#C7D3DC,#5B798E);
            background: linear-gradient(#C7D3DC,#5B798E);
        }

    .UserTypeTitle, .UserTypeImage {
        opacity: 0.3;
        -webkit-transition: all 1.5s;
        -moz-transition: all 1.5s;
        transition: all 1.5s;
    }

    #Child:hover > .UserTypeTitle, #Child:hover > .UserTypeImage, #Adult:hover > .UserTypeTitle, #Adult:hover > .UserTypeImage {
        opacity: 1;
        -webkit-transition: all 2s;
        -moz-transition: all 2s;
        transition: all 2s;
    }

    .UserTypeTitle {
        /*display:none;*/
        height: 20%;
        font-size: 30px;
        padding-top: 40px;
        font-family: "gan";
    }

    #Child .UserTypeImage {
        /*display:none;*/
        background-image: url(../Pictures/children.png);
        z-index: 10;
        width: 100%;
        height: 80%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    #Adult .UserTypeImage {
        /*display:none;*/
        background-image: url(../Pictures/adults.png);
        z-index: 10;
        width: 65%;
        margin: auto;
        height: 80%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .ChildOrAdult {
        font-size: 30px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family:"gan";
    }
</style>